{% extends app.request.xmlHttpRequest ? '@MauticCore/Default/content.html.twig' : '@MauticUser/Security/base.html.twig' %}

{% block content %}
    {{ form(form) }}
    <div class="mt-sm">
        <a href="{{ path('login') }}">{{ 'mautic.user.user.passwordreset.back'|trans }}</a>
    </div>
{% endblock %}
